body{
    text-align: center;
    margin-top: 15rem;
}

button{
    padding: 10px;
    border-radius: 5px;
    background-color: gray;
}
input{
    /* color: white; */
    /* background-color: brown; */
    /* color  */
}
